<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8" />
    <title>Pet Index</title>
</head>
<body class="container">
<!--loop through and show all pet records -->
<h1>all pet records shown here</h1>

<!--<div class="container">-->
    <!--&lt;!&ndash;<div class="row" th:each="post : ${posts}">&ndash;&gt;-->
        <!--<div class="col-12">-->
            <!--<br/>-->
            <!--&lt;!&ndash;<h3 th:text="'title: ' + ${post.title}"></h3>&ndash;&gt;-->
            <!--&lt;!&ndash;<p class="lead" th:text="'body: ' + ${post.body}"></p>&ndash;&gt;-->
            <!--<button class="btn btn-primary">comment</button>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

</body>
</html>