<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8" />
    <title>Create Page</title>
</head>

<body class="container">
    <h1>Create A Post</h1>
        <form action="/posts/save" method="POST">
            <label for="title">Title</label>
            <input id="title" type="text" name="title" />

            <label for="body">Body</label>
            <input id="body" type="text" name="body" />

            <!--<label for="userEmail">Email:</label>-->
            <!--<input id="userEmail" type="text" name="userEmail" />-->

            <button class="btn btn-dark">Submit</button>
        </form>
</body>
</html>