<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8" />
    <title>Create Page</title>
</head>
<body class="container">

    <h1>Edit Post</h1>
        <!--edit post -->
        <form th:action="@{/posts/${id}/edit}" th:method="POST" th:object="${post}">
            <label for="title">Title</label>
            <input id="title" type="text" th:field="*{title}" />
            <label for="body">Body</label>
            <input type="hidden" th:field="*{id}" />
            <input type="hidden" th:field="*{userEmail}" />
            <input id="body" type="text" th:field="*{body}" />
            <br/>
            <button class="btn btn-success">Submit</button>
        </form>

        <!--delete form-->
        <form th:action="@{/posts/delete}" th:method="POST" th:object="${post}">
            <input type="hidden" name="id" th:value="${post.id}" />
            <button class="btn btn-danger">Delete Post</button>
        </form>

</body>
</html>