<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" >
    <meta charset="UTF-8" />
    <title>Dice Game</title>
</head>
<body>
    <nav th:replace="fragments/navbar :: navbar"></nav>
    <div class="container-fluid">
        <h1>Welcome! Please click a link to guess a number</h1>
        <a href="/roll-dice/1" id="one">one</a>
        <a href="/roll-dice/2" id="two">two</a>
        <a href="/roll-dice/3" id="three">three</a>
        <a href="/roll-dice/4" id="four">four</a>
        <a href="/roll-dice/5" id="five">five</a>
        <a href="/roll-dice/6" id="six">six</a>
    </div>


    <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>